{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img alt="" src="{% static 'img/logo-back-remove.png' %}"/>
            <h1><b style="color: red;">W</b><b style="color: orange;">E</b><b style="color: yellow;">L</b><b style="color:green;">C</b><b style="color: white;">O</b><b style="color: indigo;">M</b><b style="color: violet;">E</b></h1>
            <p class="mt-3"><i>"Every artist dips his brush in his own soul and paints his own nature into his pictures."</i></p>
            <h5><b>Henry Ward Beecher</b></h5>

        </div>
        <div class="col-md-9 register-right">
            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
                    <h1 class="register-heading"><b><i style="color:white;">Create Account</i></b></h1>
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="User Name" required name="username"/>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password " required type="password"
                                          name="password" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm Password " required
                                           type="password" name="password1"/>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Your Email " required type="email"
                                         name="email" />
                                </div>
                                <div class="form-group">
                                    <input class="form-control" maxlength="10" minlength="10" name="Phone_no"
                                           placeholder="Your Phone " required />
                                </div>
                                <input class="btnRegister " type="submit" value="Sign Up" style=" color: white; background-color: #0062cc;"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}